#homeImage {
width: 100%;
  max-width: 55px;
  height: auto;
}

#but {
    text-align: center;
    align-items: center;
}

#reg-button {
    text-align: center;
    align-items: center;
    background-color: black;
    color:white;
    font-size: 18px;
    border: none;
}

#name_container {
    text-align: center;
    align-items: center;
}

#wabydaby {
    text-align: center;
    align-items: center;
    background-color: rgb(94, 142, 94);
}

#topheader {
    text-align: center;
    align-items: center;
}

#insidetopheader {
    text-align: center;
    align-items: center;
}

#homeTitle {
    color: rgb(45, 45, 45);
    font-weight: bolder;
    font-size: 600%;
    font-size: 6vw;
}

#wab {
     max-width: 100%;
  height: auto;
  border-radius: 50%;
}


#navDem{
    position: relative; 
  top: -125px;
}


